@tailwind base;
@tailwind components;
@tailwind utilities;

.role-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.role-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.role-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.5);
  border-radius: 3px;
}

.role-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(156, 163, 175, 0.7);
}

.dark .role-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(75, 85, 99, 0.5);
}

.dark .role-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(75, 85, 99, 0.7);
}
